@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?m7dxsi");
  src:
    url("fonts/icomoon.eot?m7dxsi#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?m7dxsi") format("truetype"),
    url("fonts/icomoon.woff?m7dxsi") format("woff"),
    url("fonts/icomoon.svg?m7dxsi#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sort1:before {
  content: "\ea03";
}

.icon-sort-down .path1:before {
  content: "\ea04";
  color: rgb(0, 0, 0);
}

.icon-sort-down .path2:before {
  content: "\ea05";
  margin-left: -0.625em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}

.icon-sort-up .path1:before {
  content: "\ea06";
  color: rgb(0, 0, 0);
}

.icon-sort-up .path2:before {
  content: "\ea07";
  margin-left: -0.625em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}

.icon-app_upload1:before {
  content: "\e915";
}

.icon-more_info:before {
  content: "\e9fd";
}

.icon-info_mail:before {
  content: "\e9fe";
}

.icon-file-arrow-down1:before {
  content: "\e9ed";
}

.icon-file-arrow-up1:before {
  content: "\e9ee";
}

.icon-file-contract:before {
  content: "\e9ef";
}

.icon-file-code:before {
  content: "\e9f0";
}

.icon-file-excel1:before {
  content: "\e9f1";
}

.icon-file-lines1:before {
  content: "\e9f2";
}

.icon-file-plus:before {
  content: "\e9f3";
}

.icon-file-signature1:before {
  content: "\e9f4";
}

.icon-file-pen:before {
  content: "\e9f5";
}

.icon-file-pdf1:before {
  content: "\e9f6";
}

.icon-file-powerpoint1:before {
  content: "\e9f7";
}

.icon-file-word1:before {
  content: "\e9f8";
}

.icon-file-csv1:before {
  content: "\e9f9";
}

.icon-file-check1:before {
  content: "\e9fa";
}

.icon-file-chart-pie:before {
  content: "\e9fb";
}

.icon-file-invoice-dollar1:before {
  content: "\e9fc";
}

.icon--7875:before {
  content: "\e903";
}

.icon--187--1:before {
  content: "\e910";
}

.icon--359--1:before {
  content: "\e912";
}

.icon-alart_error:before {
  content: "\e916";
  color: #f0524b;
}

.icon-alert_success:before {
  content: "\e96d";
  color: #2eb6c7;
}

.icon-alert_warning:before {
  content: "\e970";
  color: #fc8e5e;
}

.icon-app_approve:before {
  content: "\e977";
}

.icon-app_calender:before {
  content: "\e9c2";
}

.icon-app_clip:before {
  content: "\e9c3";
}

.icon-app_copy:before {
  content: "\e9c4";
}

.icon-app_delete:before {
  content: "\e9c5";
}

.icon-app_edit:before {
  content: "\e9c6";
}

.icon-app_histroy:before {
  content: "\e9c8";
}

.icon-app_page_add:before {
  content: "\e9c9";
}

.icon-app_page:before {
  content: "\e9ca";
}

.icon-app_group:before {
  content: "\e9c7";
}

.icon-app_person:before {
  content: "\e9cb";
}

.icon-app_phone:before {
  content: "\e9cc";
}

.icon-app_pin:before {
  content: "\e9cd";
}

.icon-app_scan:before {
  content: "\e9ce";
}

.icon-app_send:before {
  content: "\e9cf";
}

.icon-app_time:before {
  content: "\e9d0";
}

.icon-app_upload:before {
  content: "\e9d1";
}

.icon--630--1:before {
  content: "\e913";
}

.icon-common_exit_to_app-24px:before {
  content: "\e9d3";
}

.icon-common_clear:before {
  content: "\e9ff";
}

.icon-app_add:before {
  content: "\ea00";
}

.icon-common_left_2:before {
  content: "\e9d4";
}

.icon-common_right_2:before {
  content: "\e9d5";
}

.icon-common_right-24px:before {
  content: "\ea01";
}

.icon-common_left-24px:before {
  content: "\ea02";
}

.icon-common_down-24px:before {
  content: "\e9d2";
}

.icon-common_up-24px:before {
  content: "\e9d7";
}

.icon-common_search-24px:before {
  content: "\e9d6";
}

.icon-index_menu-24px:before {
  content: "\e9da";
}

.icon-eye_off:before {
  content: "\e9d8";
}

.icon-eye_on:before {
  content: "\e9d9";
}

.icon-index_setup:before {
  content: "\e9db";
}

.icon-info_phone:before {
  content: "\e9dc";
}

.icon-KEy:before {
  content: "\e9dd";
}

.icon-menu_addressbook:before {
  content: "\e9de";
}

.icon-menu_appcenter:before {
  content: "\e9df";
}

.icon-menu_home:before {
  content: "\e9e0";
}

.icon-more_bell:before {
  content: "\e9e1";
}

.icon-more_channel:before {
  content: "\e9e2";
}

.icon-more_subscrib:before {
  content: "\e9e3";
}

.icon-more_work:before {
  content: "\e9e4";
}

.icon-print:before {
  content: "\e9e5";
}

.icon-reflect-Official-opinion-1:before {
  content: "\e9e6";
}

.icon-reflect-Official-opinion:before {
  content: "\e9e7";
}

.icon-sound_fill:before {
  content: "\e9e8";
}

.icon-sound_mute:before {
  content: "\e9e9";
}

.icon-sound_on:before {
  content: "\e9ea";
}

.icon-star_empty:before {
  content: "\e9eb";
}

.icon-star_fill:before {
  content: "\e9ec";
}

.icon-angle-down1:before {
  content: "\e9c1";
}

.icon-chevron-up1:before {
  content: "\e9be";
}

.icon-chevron-down1:before {
  content: "\e9bf";
}

.icon-chevron-right1:before {
  content: "\e9bd";
}

.icon-chevron-left1:before {
  content: "\e9c0";
}

.icon-chevrons-left:before {
  content: "\e9bc";
}

.icon-chevrons-right:before {
  content: "\e9bb";
}

.icon-table-list1:before {
  content: "\e9b9";
}

.icon-table-list:before {
  content: "\e9ba";
}

.icon-gear2:before {
  content: "\e9b3";
}

.icon-gear1:before {
  content: "\e9b4";
}

.icon-line:before {
  content: "\e901";
}

.icon-google-plus-square:before {
  content: "\e90e";
}

.icon-google-plus:before {
  content: "\e91c";
}

.icon-google:before {
  content: "\e91d";
}

.icon-facebook:before {
  content: "\e91e";
}

.icon-facebook-square:before {
  content: "\e921";
}

.icon-facebook-messenger:before {
  content: "\e922";
}

.icon-facebook-f:before {
  content: "\e923";
}

.icon-cloud:before {
  content: "\e924";
}

.icon-cloud-check:before {
  content: "\e925";
}

.icon-cloud-arrow-down:before {
  content: "\e926";
}

.icon-cloud-arrow-up:before {
  content: "\e927";
}

.icon-ban:before {
  content: "\e928";
}

.icon-volume-high1:before {
  content: "\e929";
}

.icon-volume-slash1:before {
  content: "\e92a";
}

.icon-volume-xmark:before {
  content: "\e92b";
}

.icon-volume-low1:before {
  content: "\e92c";
}

.icon-triangle-exclamation:before {
  content: "\e92e";
}

.icon-tag:before {
  content: "\e92f";
}

.icon-shield-check:before {
  content: "\e930";
}

.icon-shield-keyhole:before {
  content: "\e931";
}

.icon-rotate-right:before {
  content: "\e933";
}

.icon-rotate:before {
  content: "\e934";
}

.icon-power-off:before {
  content: "\e935";
}

.icon-phone:before {
  content: "\e939";
}

.icon-phone-volume:before {
  content: "\e93a";
}

.icon-pen-field:before {
  content: "\e93b";
}

.icon-paperclip:before {
  content: "\e943";
}

.icon-octagon-plus:before {
  content: "\e944";
}

.icon-octagon-xmark:before {
  content: "\e94b";
}

.icon-octagon-exclamation:before {
  content: "\e94c";
}

.icon-octagon-minus:before {
  content: "\e94e";
}

.icon-id-card:before {
  content: "\e94f";
}

.icon-money-check:before {
  content: "\e953";
}

.icon-magnifying-glass:before {
  content: "\e955";
}

.icon-lock-keyhole:before {
  content: "\e958";
}

.icon-link:before {
  content: "\e959";
}

.icon-key-skeleton:before {
  content: "\e95a";
}

.icon-keyboard:before {
  content: "\e95b";
}

.icon-key:before {
  content: "\e95c";
}

.icon-folder-plus:before {
  content: "\e95d";
}

.icon-folder-blank:before {
  content: "\e95e";
}

.icon-envelope:before {
  content: "\e95f";
}

.icon-credit-card-blank:before {
  content: "\e960";
}

.icon-credit-card-front:before {
  content: "\e961";
}

.icon-credit-card:before {
  content: "\e963";
}

.icon-comments-question:before {
  content: "\e965";
}

.icon-comment-lines:before {
  content: "\e966";
}

.icon-clipboard-check:before {
  content: "\e967";
}

.icon-chart-pie-simple:before {
  content: "\e968";
}

.icon-chart-mixed:before {
  content: "\e969";
}

.icon-chart-line:before {
  content: "\e96a";
}

.icon-chart-line-up:before {
  content: "\e96b";
}

.icon-chart-line-down:before {
  content: "\e9b2";
}

.icon-chart-column:before {
  content: "\e96c";
}

.icon-calendar-clock:before {
  content: "\e96e";
}

.icon-calendar-days:before {
  content: "\e96f";
}

.icon-arrow-down-wide-short:before {
  content: "\e979";
}

.icon-arrow-down-short-wide:before {
  content: "\e97a";
}

.icon-angles-left:before {
  content: "\e97b";
}

.icon-angles-right:before {
  content: "\e97c";
}

.icon-location-dot:before {
  content: "\e97d";
}

.icon-map-location-dot:before {
  content: "\e97e";
}

.icon-map:before {
  content: "\e980";
}

.icon-language:before {
  content: "\e981";
}

.icon-globe:before {
  content: "\e982";
}

.icon-hand-holding-dollar:before {
  content: "\e983";
}

.icon-circle-dollar:before {
  content: "\e984";
}

.icon-ellipsis:before {
  content: "\e986";
}

.icon-gear:before {
  content: "\e987";
}

.icon-memo-circle-check:before {
  content: "\e988";
}

.icon-file-excel:before {
  content: "\e989";
}

.icon-file-audio:before {
  content: "\e98d";
}

.icon-file-csv:before {
  content: "\e98e";
}

.icon-file-magnifying-glass:before {
  content: "\e98f";
}

.icon-file-image:before {
  content: "\e990";
}

.icon-file-invoice-dollar:before {
  content: "\e991";
}

.icon-file-signature:before {
  content: "\e992";
}

.icon-file:before {
  content: "\e993";
}

.icon-file-zipper:before {
  content: "\e994";
}

.icon-file-word:before {
  content: "\e995";
}

.icon-file-powerpoint:before {
  content: "\e996";
}

.icon-file-pdf:before {
  content: "\e997";
}

.icon-file-invoice:before {
  content: "\e998";
}

.icon-file-lines:before {
  content: "\e999";
}

.icon-file-check:before {
  content: "\e99a";
}

.icon-file-arrow-up:before {
  content: "\e99b";
}

.icon-file-arrow-down:before {
  content: "\e99c";
}

.icon-users-medical:before {
  content: "\e99d";
}

.icon-users-gear:before {
  content: "\e99e";
}

.icon-users-gear1:before {
  content: "\e9b5";
}

.icon-user-gear:before {
  content: "\e99f";
}

.icon-user-gear1:before {
  content: "\e9b6";
}

.icon-user-check:before {
  content: "\e9a0";
}

.icon-user-plus1:before {
  content: "\e90f";
}

.icon-user-large:before {
  content: "\e9a1";
}

.icon-circle-user:before {
  content: "\e9a2";
}

.icon-circle-user1:before {
  content: "\e9b7";
}

.icon-eye-slash:before {
  content: "\e9a3";
}

.icon-eye:before {
  content: "\e9a4";
}

.icon-circle-info:before {
  content: "\e9a5";
}

.icon-angle-down:before {
  content: "\e917";
}

.icon-angle-left:before {
  content: "\e918";
}

.icon-angle-right:before {
  content: "\e919";
}

.icon-angle-up:before {
  content: "\e91b";
}

.icon-sign-out:before {
  content: "\e909";
}

.icon-right-from-bracket:before {
  content: "\e9b8";
}

.icon-home-lg-alt1:before {
  content: "\e90a";
}

.icon-question-circle2:before {
  content: "\e90b";
}

.icon-question-circle1:before {
  content: "\e90c";
}

.icon-home-lg-alt:before {
  content: "\e90d";
}

.icon-house-chimney:before {
  content: "\e9a6";
}

.icon-clock1:before {
  content: "\e949";
}

.icon-clock:before {
  content: "\e94a";
}

.icon-redo-alt:before {
  content: "\e920";
}

.icon-volume-slash:before {
  content: "\e936";
}

.icon-volume1:before {
  content: "\e946";
}

.icon-circle-plus:before {
  content: "\e9a7";
}

.icon-minus-circle:before {
  content: "\e900";
}

.icon-times-circle:before {
  content: "\e914";
}

.icon-check-circle:before {
  content: "\e91f";
}

.icon-circle-arrow-up:before {
  content: "\e9a8";
}

.icon-circle-arrow-down:before {
  content: "\e9a9";
}

.icon-circle-arrow-right:before {
  content: "\e9aa";
}

.icon-circle-arrow-left:before {
  content: "\e9ab";
}

.icon-profile:before {
  content: "\e98b";
}

.icon-repair:before {
  content: "\e98c";
}

.icon-search-form:before {
  content: "\e98a";
}

.icon-switch:before {
  content: "\e985";
}

.icon-authority-line:before {
  content: "\e97f";
}

.icon-file-download:before {
  content: "\e978";
}

.icon-book-read:before {
  content: "\e976";
}

.icon-sorting-desc:before {
  content: "\e974";
}

.icon-sorting-asc:before {
  content: "\e975";
}

.icon-language-cn-s:before {
  content: "\e971";
}

.icon-language-en:before {
  content: "\e972";
}

.icon-language-cn:before {
  content: "\e973";
}

.icon-price-management:before {
  content: "\e964";
}

.icon-Data-analysis:before {
  content: "\e962";
}

.icon-user-add:before {
  content: "\e957";
}

.icon-focus:before {
  content: "\e956";
}

.icon-login:before {
  content: "\e954";
}

.icon-instock:before {
  content: "\e952";
}

.icon-stationery:before {
  content: "\e951";
}

.icon-RFQ:before {
  content: "\e950";
}

.icon-Order-management:before {
  content: "\e94d";
}

.icon-money-list:before {
  content: "\e947";
}

.icon-save:before {
  content: "\e948";
}

.icon-speaker:before {
  content: "\e945";
}

.icon-bullhorn:before {
  content: "\e9ac";
}

.icon-time:before {
  content: "\e942";
}

.icon-copy:before {
  content: "\e941";
}

.icon-star-solid:before {
  content: "\e940";
}

.icon-double-arrow-up:before {
  content: "\e93c";
}

.icon-double-arrow-down:before {
  content: "\e93d";
}

.icon-double-arrow-left:before {
  content: "\e93e";
}

.icon-double-arrow-right:before {
  content: "\e93f";
}

.icon-sort:before {
  content: "\e938";
}

.icon-minus:before {
  content: "\e932";
}

.icon-plus:before {
  content: "\e937";
}

.icon-share:before {
  content: "\e92d";
}

.icon-check:before {
  content: "\e904";
}

.icon-cross:before {
  content: "\e870";
}

.icon-xmark:before {
  content: "\e9ad";
}

.icon-hyphen:before {
  content: "\e9ae";
}

.icon-circle:before {
  content: "\e905";
}

.icon-genderless:before {
  content: "\e9af";
}

.icon-circle-line:before {
  content: "\e906";
}

.icon-clipboard:before {
  content: "\e907";
}

.icon-edit:before {
  content: "\e908";
}

.icon-pass-card:before {
  content: "\e902";
}

.icon-home:before {
  content: "\e800";
}

.icon-cloud-upload:before {
  content: "\e80a";
}

.icon-cloud-download:before {
  content: "\e80b";
}

.icon-lock:before {
  content: "\e80f";
}

.icon-cog:before {
  content: "\e810";
}

.icon-trash:before {
  content: "\e811";
}

.icon-trash-can:before {
  content: "\e9b0";
}

.icon-inbox:before {
  content: "\e81a";
}

.icon-printer:before {
  content: "\e81c";
}

.icon-file-empty:before {
  content: "\e81d";
}

.icon-file-add:before {
  content: "\e81e";
}

.icon-calendar-full:before {
  content: "\e836";
}

.icon-volume-high:before {
  content: "\e85a";
}

.icon-volume-medium:before {
  content: "\e85b";
}

.icon-volume-low:before {
  content: "\e85c";
}

.icon-volume:before {
  content: "\e85d";
}

.icon-undo:before {
  content: "\e860";
}

.icon-redo:before {
  content: "\e861";
}

.icon-sync:before {
  content: "\e862";
}

.icon-download:before {
  content: "\e865";
}

.icon-upload:before {
  content: "\e866";
}

.icon-enter-down:before {
  content: "\e867";
}

.icon-exit-up:before {
  content: "\e868";
}

.icon-unlink:before {
  content: "\e86c";
}

.icon-thumbs-up:before {
  content: "\e86d";
}

.icon-menu:before {
  content: "\e871";
}

.icon-list:before {
  content: "\e872";
}

.icon-chevron-up:before {
  content: "\e873";
}

.icon-chevron-down:before {
  content: "\e874";
}

.icon-chevron-left:before {
  content: "\e875";
}

.icon-chevron-right:before {
  content: "\e876";
}

.icon-arrow-up:before {
  content: "\e877";
}

.icon-arrow-down:before {
  content: "\e878";
}

.icon-arrow-left:before {
  content: "\e879";
}

.icon-arrow-right:before {
  content: "\e87a";
}

.icon-move:before {
  content: "\e87b";
}

.icon-warning:before {
  content: "\e87c";
}

.icon-question-circle:before {
  content: "\e87d";
}

.icon-checkmark-circle:before {
  content: "\e87f";
}

.icon-cross-circle:before {
  content: "\e880";
}

.icon-plus-circle:before {
  content: "\e881";
}

.icon-circle-minus:before {
  content: "\e882";
}

.icon-arrow-up-circle:before {
  content: "\e883";
}

.icon-arrow-down-circle:before {
  content: "\e884";
}

.icon-arrow-left-circle:before {
  content: "\e885";
}

.icon-arrow-right-circle:before {
  content: "\e886";
}

.icon-chevron-up-circle:before {
  content: "\e887";
}

.icon-chevron-down-circle:before {
  content: "\e888";
}

.icon-chevron-left-circle:before {
  content: "\e889";
}

.icon-chevron-right-circle:before {
  content: "\e88a";
}

.icon-frame-contract:before {
  content: "\e88d";
}

.icon-expand-wide:before {
  content: "\e9b1";
}

.icon-service3:before {
  content: "\e911";
}

.icon-Search:before {
  content: "\e91a";
}
